---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<head>
  <style>
    .publication-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    .publication-image {
      max-width: 250px;
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .publication-cell {
      padding: 10px;
      vertical-align: top;
    }
  </style>
</head>

<table class="publication-table">
  <tr>
    <td class="publication-cell" width="25%">
      <img class="publication-image" src="/images/gqt.png" alt="Paper teaser">
    </td>
    <td class="publication-cell" width="75%">
      <p>
        <b><a target="_blank" href="https://arxiv.org/abs/2410.13798">Learning Graph Quantized Tokenizers</a></b>
        <br>
        Limei Wang, <strong>Kaveh Hassani</strong>, Si Zhang, Dongqi Fu, Baichuan Yuan, Weilin Cong, Zhigang Hua, Hao Wu, Ning Yao, Bo Long
        <br>
        <i>International Conference on Learning Representations (ICLR) 2025</i>
      </p>
    </td>
  </tr>
</table>
<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



